<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Connection configuration -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost/test</property>
        <property name="connection.username">test</property>
        <property name="connection.password">test</property>

        <!-- HikariCP connection pool configuration -->
        <property name="hikari.initialSize">5</property>
        <property name="hikari.maximumPoolSize">20</property>
        <property name="hikari.maxIdle">10</property>
        <property name="hikari.minimumIdle">5</property>
        <property name="hikari.maxWaitMillis">-1</property>

        <!-- TODO: cache properties definition -->

        <!-- Additional configuration -->
        <property name="dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property> <!-- TODO: maybe disable it for prod? -->
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property> <!-- TODO: change it to "validate" for prod!!! -->
        <property name="hbm2ddl.charset_name">UTF-8</property>
    </session-factory>
</hibernate-configuration>
